@import "tailwindcss";

:root {
  --cursor-size: 20px;
  --cursor-hover-size: 60px;
  --bg-color: #050505;
  --text-color: #ececec;
  --accent-color: #ccfd3a;
  /* Acid Green */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

@media (pointer: fine) {
  body {
    cursor: none;
    /* Hide default cursor only on devices with a fine pointer (mouse) */
  }
}

/* Custom Cursor */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--cursor-size);
  height: var(--cursor-size);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  pointer-events: none;
  z-index: 10000;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s, background-color 0.3s;
  mix-blend-mode: difference;
  display: none;
  /* Hidden by default */
}

.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 10001;
  transform: translate(-50%, -50%);
  display: none;
  /* Hidden by default */
}

@media (pointer: fine) {

  .cursor,
  .cursor-dot {
    display: block;
    /* Show only on devices with a fine pointer */
  }
}

.cursor.hovered {
  width: var(--cursor-hover-size);
  height: var(--cursor-hover-size);
  background-color: rgba(255, 255, 255, 0.1);
  border-color: transparent;
  backdrop-filter: blur(2px);
}

/* Typography Utilities */
.reveal-text {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.char {
  display: inline-block;
  transform-origin: 50% 100%;
}



/* Layout */
#canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0.6;
}

.magnetic-btn {
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Project Hover Image Reveal */
.project-item:hover .project-image {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}

.project-image {
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  opacity: 0;
  transform: scale(0.8) rotate(-5deg);
  z-index: 10;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}